@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #3B3B3B;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
}

a {
  display: block;
  color: #3B3B3B;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs20 {
  font-size: 20px;
}

.fs28 {
  font-size: 28px;
}

.fs32 {
  font-size: 32px;
}

.lh12 {
  line-height: 1.2;
}

.mg-center {
  margin: 0 auto;
}

.mg-rl-14 {
  margin: 0 14% 0 14%;
}

.mt-24 {
  margin-top: 24px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-200 {
  margin-bottom: 200px;
}

.w-56 {
  width: 56px;
}

.bg-color-black {
  background-color: black;
}

.bg-color-work3 {
  background-color: rgba(13, 12, 7, 0.5);
}

.work1 {
  -moz-column-gap: 55px;
       column-gap: 55px;
  padding: 80px 0 0 0;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
}
.work1 .work1-bg {
  width: 714px;
}

.work2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true");
}
.work2-group {
  padding: 200px 110px 200px 312px;
  margin-right: 51%;
  background-color: rgba(10, 16, 19, 0.5);
}

.work3 {
  -moz-column-gap: 49px;
       column-gap: 49px;
  padding: 176px 0 112px 0;
  background-color: rgba(13, 12, 7, 0.5);
  background-blend-mode: multiply;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true");
}
.work3 .work3-bg {
  width: 721px;
}
.work3 .group {
  margin-top: 24px;
  margin-bottom: 88px;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 32px;
}
.wrap a {
  text-decoration: none;
}

.header {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-bottom: 28px;
  border-bottom: 1px #F1F1F1 solid;
}
.header img {
  width: 90px;
  margin-right: 318px;
}
.header-text {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text li {
  padding: 4px 8px 4px 8px;
}
.header-btn {
  display: none;
  cursor: pointer;
}
.header-control:checked + .header-btn .open {
  display: none;
}
.header-control:checked + .header-btn .close {
  display: inline;
}
.header-control:not(:checked) + .header-btn .open {
  display: inline;
}
.header-control:not(:checked) + .header-btn .close {
  display: none;
}
.header-control {
  display: none;
}

.introduce {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px 0;
}
.introduce-hero {
  width: 60.1041666667%;
}
.introduce-link {
  display: flex;
  margin-top: 60px;
}

.introduce-title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.introduce-text {
  word-break: keep-all;
}
.introduce-text p {
  display: flex;
  gap: 0 8px;
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 80px;
}
.content > h2 {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.content > h2::before {
  content: "";
  width: 100px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
}
.content > h2::after {
  content: "";
  width: 100px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
}
.content-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-list-work {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.content-list .group {
  display: flex;
  flex-direction: column;
  width: 526px;
  padding: 80px 40px 56px 40px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 24px;
  color: #FFF;
}
.content-list .group-label {
  display: flex;
  padding-bottom: 40px;
  margin-top: 24px;
  margin-bottom: 40px;
  border-bottom: 1px #F1F1F1 solid;
  gap: 16px;
}
.content-list .group-label a {
  padding: 4px 12px 4px 12px;
  background-color: #FFF;
  border-radius: 16px;
}
.content-list .group-link {
  width: 176px;
  margin: 0 auto;
}
.content-list .group-link a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  padding: 16px 32px 16px 32px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 80px 17% 80px 16.25%;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
}
.footer-list {
  margin-right: 35.9%;
}
.footer-list img {
  width: 120px;
}
.footer-link {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer-link-text a {
  width: 306px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 8px;
  border: 1px #C1C1C1 solid;
  border-radius: 8px;
}
.footer-link-text a:hover {
  color: #FFF;
  background-color: black;
}

@media (max-width: 1150px) {
  .header {
    padding-left: 12px;
  }
  .header img {
    margin-right: 20%;
  }
  .introduce {
    flex-direction: column-reverse;
    padding: 0 0 40px 0;
    gap: 40px;
  }
  .introduce-title {
    text-align: center;
  }
  .introduce-text {
    text-align: center;
  }
  .introduce-text p {
    gap: 0;
  }
  .introduce-hero {
    width: 100%;
    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-sm.png?raw=true");
  }
  .introduce-link {
    width: 152px;
    margin: 0 auto;
    margin-top: 24px;
  }
  .introduce-link img {
    width: 40px;
  }
  .content-list-work {
    flex-direction: column;
    background-image: url("");
    padding: 0;
    gap: 24px;
  }
  .content-list-work img {
    width: 295px;
    margin: 0 auto;
  }
  .content-list .work1-bg {
    width: 100%;
    padding-top: 93px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
  }
  .content-list .work2 {
    margin-top: 48px;
  }
  .content-list .work2 img {
    width: 100%;
    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-sm.png?raw=true");
  }
  .content-list .work2-group {
    background-color: rgba(10, 16, 19, 0);
    padding: 0;
    margin: 0 auto;
  }
  .content-list .work3 {
    margin-top: 48px;
    background: 0;
  }
  .content-list .work3-group {
    flex-wrap: wrap;
    padding: 0;
  }
  .content-list .work3-bg {
    width: 100%;
    padding: 90px 0 90px 0;
    background-color: rgba(13, 12, 7, 0.5);
    background-blend-mode: multiply;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true");
    background-size: cover;
    background-position: center center;
  }
  .content-list .work3-bg img {
    width: 295px;
  }
  .content-list .group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #5B5B5B;
    text-align: center;
    align-items: center;
  }
  .content-list .group h3 {
    color: #1E1E1E;
  }
  .content-list .group-label {
    color: #3B3B3B;
    border: 0;
    margin-top: 16px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .content-list .group-label a {
    background-color: #F1F1F1;
  }
}
@media (max-width: 992px) {
  .header img {
    margin-right: 70%;
  }
  .header-text {
    display: none;
  }
  .header-btn {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header-control:checked ~ .header-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .introduce-list {
    margin: 0 14% 0 14%;
  }
  .introduce-link {
    justify-content: space-between;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-list {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .footer-list li {
    text-align: center;
  }
  .footer-list img {
    margin: 0 auto;
  }
}
@media (max-width: 686px) {
  .header {
    margin: 0 auto;
  }
  .header img {
    margin-right: 65%;
  }
  .introduce-text {
    text-align: center;
  }
}
@media (max-width: 455px) {
  .header img {
    margin-right: 60%;
  }
  .introduce-text p {
    gap: 0;
  }
  .content > h2 {
    font-size: 24px;
    line-height: 1.18333;
  }
  .content > h2::before {
    content: "";
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true");
  }
  .content > h2::after {
    content: "";
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true");
  }
}/*# sourceMappingURL=all.css.map */