@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fw-600 {
  font-weight: 600;
}

.s20-h30 {
  font-size: 20px;
  line-height: 1.5;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #3B3B3B;
  line-height: 1.4;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrap {
  max-width: 1920px;
  padding-top: 32px;
}
.wrap a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-bottom: 28px;
}
.header img {
  width: 90px;
  margin-right: 318px;
}
.header-text {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text li {
  padding: 4px 8px 4px 8px;
}
.header-btn {
  display: none;
  cursor: pointer;
}
.header-control:checked + .header-btn .open {
  display: none;
}
.header-control:checked + .header-btn .close {
  display: inline;
}
.header-control:not(:checked) + .header-btn .open {
  display: inline;
}
.header-control:not(:checked) + .header-btn .close {
  display: none;
}
.header-control {
  display: none;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px 0;
}
.content img {
  width: 1154px;
}
.content-link {
  display: flex;
  margin-top: 60px;
}
.content-link img {
  width: 56px;
}

.content-title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.content-text p {
  display: flex;
  gap: 0 8px;
}

@media (max-width: 1150px) {
  .header img {
    margin-right: 5%;
  }
  .content img {
    max-width: 70%;
  }
}
@media (max-width: 992px) {
  .header {
    margin-left: 5%;
  }
  .header img {
    margin-right: 80%;
  }
  .header-text {
    display: none;
  }
  .header-btn {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header-control:checked ~ .header-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 620px) {
  .header img {
    margin-right: 70%;
  }
}/*# sourceMappingURL=all.css.map */