.content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:120px;
    gap:80px;
    
    &-list{
        width: 100%;
        display:flex;
        flex-direction: column;
        &-work{        
            width: 100%;    
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover; 
        }
        .group{
            display: flex;
            flex-direction: column;
            width: 526px;
            padding:80px 40px 56px 40px;
            background:rgba(255,255,255,0.1);
            backdrop-filter: blur(5px);
            border-radius: 24px;
            color: #FFF;
            &-label{
                display: flex;
                padding-bottom: 40px;
                margin-top: 24px;
                margin-bottom: 40px;
                border-bottom: 1px $F1 solid;
                gap: 16px;
                a{
                    padding:4px 12px 4px 12px;
                    background-color: #FFF;
                    border-radius: 16px;
                }
            }
            &-link{
                width: 176px;
                margin: 0 auto;
                a{
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    // color:#FFF;
                    // background-color: black;
                    // border-radius: 5px;
                    // text-align: center;
                    // padding:16px 32px 16px 32px;
                }
            }
        }
    }
    
    
}