.footer{
    display: flex;
    align-items: center;
    padding:80px 17% 80px 16.25%;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
    &-list{
        margin-right:35.9%;
        img{
            width: 120px;
        }
    }
    &-link{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        &-text{
            a{
                width: 306px;
                display: flex;
                align-items: center;
                
                padding-left: 24px;
                padding-top: 8px;
                padding-bottom: 8px;
                gap:8px;
                border: 1px $C1 solid;
                border-radius:8px;
            }
            a:hover{
                color:#FFF;
                background-color: black;
            }
        }
    }
}