.wrap{  
    max-width: 1920px;
    margin: 0 auto;
    padding-top :32px;
    
    a{
        text-decoration: none;
    }  
    
}
.header{
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-bottom: 28px;
    
    border-bottom: 1px $F1 solid;
    img{
        width: 90px;
        margin-right: 318px;
    }
    &-text{
        width: 480px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        li{
        // padding: 4px 8px 4px 8px; 
        }


    }
    &-btn{ 
        display: none; 
        cursor: pointer;  
    }
    &-control:checked + &-btn .open {
        display: none;
    }
    &-control:checked + &-btn .close {
        display: inline;
    }
    &-control:not(:checked) + &-btn .open {
        display: inline;
    }
    &-control:not(:checked) + &-btn .close {
        display: none;
    }
    &-control{
        display: none;
    }
}


