.introduce{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:24px 0;
    &-hero{
        width: 60.10416666666667%;
    }
    &-link{
        display: flex;
        margin-top: 60px;
    
        // @each $key,$value in $icon{
        //     $width: map-get($value,'width');
        //     $height: map-get($value,'height');
        //     $padding:map-get($value, 'padding');
        //     &-#{$key}{
        //         padding:$padding;
        //         @if $key == yt{
        //             padding-top: 13px;
        //             padding-bottom: 12px;
        //         }
        //         img{
        //             width: $width;
        //             height: $height;
        //         }
        //     }
        // }      
        
    }
}
.introduce-title{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.introduce-text {
    .job-title{
        
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
        background-repeat: no-repeat;
        background-position: bottom;
    }
}





