@media(max-width:1150px){
    
    .header{
        padding-left:0;
        justify-content: space-around;
        img{
            margin-right: 0;
        }
    }
    .introduce{
        flex-direction: column-reverse;
        padding:0 0 40px 0;
        gap:40px;
        &-title{
            text-align: center;
        }
        &-text{
            text-align: center;
            p{
                gap:0;
            }
        }
        &-hero{
            width: 100%;
            content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-sm.png?raw=true");
        }
       &-link{   
            width: 152px;
            margin: 0 auto;
            margin-top: 24px;
            img{
                width: 40px;
            }
       }
    }
    .content{
        padding-top:40px;
        gap:40px;
        &-list{
            
            &-work{
                flex-direction: column;
                background-image: url("");
                padding:0;
                gap: 24px;
                
                img{
                    width: 295px;
                    margin: 0 auto;        
                }
                
            }
            .work1-bg{
                width: 100%;
                padding-top: 93px;
                background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");          
            }
            .work2{
                margin-top: 48px;
                img{
                    width: 100%;
                    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-sm.png?raw=true");
                }

                &-group{
                    background-color: rgba(10, 16, 19, 0);
                    padding: 0;
                    margin: 0 auto;
                }        
            }
            .work3{
                margin-top: 48px;
                background: 0;
                &-group{
                    flex-wrap: wrap;
                    padding:0;
                }
                &-bg{
                    width: 100%;
                    padding:90px 0 90px 0;
                    background-color: rgba(13, 12, 7, 0.5);
                    background-blend-mode: multiply;
                    background-image:url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true");
                    
                    background-size: cover;
                    background-position: center center;
                    img{
                        width: 295px;
                    }
                }
                
            }
            .group{
                width: 100%;
                margin: 0 auto;
                padding:0;
                color:#5B5B5B;
                text-align: center;
                align-items: center;
                h3{
                    color:#1E1E1E;
                }
                &-label{
                    color:#3B3B3B;
                    border: 0;
                    margin-top: 16px;
                    margin-bottom: 20px;
                    padding-bottom: 0;
                    a{
                        background-color: $F1;
                    }
                }
                &-link{

                }
            }
            
        }
    }
}
@media(max-width:992px){ 
    .header{
        justify-content: space-between;
        img{
            margin-right: 0;

        }
        &-text{
            display: none;
        }
        &-btn{
            display: block;
            padding-top: 8px; //*****對齊
            padding-bottom: 8px;
        }
        &-control:checked ~ &-text {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    .introduce{
        &-title{   //**width 213px
            font-size: 32px;
            line-height: 1.2;
            font-weight: 700;
        }
        &-list{
            width: 268px;
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
            align-items: center;
        }
        &-link{  
            justify-content: space-between;
        }
        
    }
    .service{
        padding-top: 80px;
        padding-bottom: 80px;
        gap:40px;
    }

    
    .footer{
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(255,255,255,1);
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        &-list{
            margin: 0 auto;
            margin-bottom: 40px;
            li{
                text-align: center;
            }
            img{
                margin: 0 auto;
            }
        }
        
    }
}

@media(max-width:686px){
    .header{
        margin:0 auto;
        
        img{
            margin-right: 65%;    
        }
    }
    .introduce{
        &-text{
            
        }
    }
    .service{
        background-image: url("");
        &-item{
            p{
                font-size: 24px;
                line-height: 1.2;
            }
            
        }
    }
}

@media(max-width:455px){
    .header{
        img{
            margin-right: 60%;
        }
    }
    .introduce{
        &-text{
            p{
                gap:0;
            }
        }     
    }
    .h2-deco{
        font-size: 24px;
        line-height: 1.18333;
        &::before{
            content:'';
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true");
        }
        &::after{
            content: '';
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true");
        }
    }

    

}