// $icon:(
//     'ig':(
//         'width': 38px,
//         'height': 38px,
//         'padding':9px,
//     ),
//     'fb':(
//         'width': 40px,
//         'height': 40px,
//         'padding':8px, 
//     ),
//     'yt':(
//         'width': 44px,
//         'height': 31px,
//         'padding':6px,
//     )
// );

$F1 : #F1F1F1;
$C1 : #C1C1C1;

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fs20{
    font-size:20px;
}

.fs28{
    font-size: 28px;
}

.fs32{
    font-size: 32px;
}






.lh12{
    line-height: 1.2;
}


.mg-center{
    margin: 0 auto;
}
.mg-rl-14{
    margin: 0 14% 0 14%;
}

.mt-24{
    margin-top: 24px;
}
.mt-200{
    margin-top: 200px;

}

.mb-8{
    margin-bottom: 8px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-200{
    margin-bottom: 200px;
}

.w-56{
    width: 56px;
}

.bg-color-black{
    background-color: black;
    
}

.work1{
    column-gap: 55px;
    padding:80px 0 0 0;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
    .work1-bg{
        width:714px;    
    }
}

.work2{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true");  
    &-group{
        padding:200px 110px 200px 312px;
        margin-right: 51%;
        background-color:rgba(10, 16, 19, 0.5);
    }
}
